@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

div.about-me{
    position: absolute;
      top: 50%;
      justify-items: center;
      font-family: 'Comfortaa', cursive;
      @media screen and (max-width: 380px){
        position: relative;
      }
  }
  .about-me-title{
  font-size: 40px;
  margin-left: 4%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 3%;
  @media screen and (max-width: 380px){
    max-width: 350px;
    padding: 10px 0px;
  }
  }
  img.about-me-image{
    height: 500px;
    box-shadow: 5px 5px 10px black;
    margin-right: 5%;
    @media screen and (max-width: 990px){
      display: none;
    }
  }
  .job-title{
    font-size: 1000%;
    font-family: 'Comfortaa', cursive;
    @media screen and (max-width: 380px){
      font-size: 38px;
    }

  }
  .tech-icons{
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 380px){
      flex-direction: row;
      flex-wrap: wrap;
    }
   }
   .image-included{
    display: flex;
    justify-content: flex-end;
    padding-top: 15%;
  }