@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


.title-column{
    position: absolute;
    top: 47%;
    right: 0%;
    width: 100%;
    @media(max-width: 380px){
      top: 40%;
      left: 8%;
    }
    @media screen and (min-width: 381px) and (max-width: 989px ){
      max-width: 750px;
      top: 40%;
      overflow: hidden;
    }
  }
  .Quote{
    font-size: 125%;
      position: absolute;
      top: 17vh;
      right: 16vh;
      width: 34vh;
      text-shadow: 1px 1px 12px black;
      font-family: 'Comfortaa', cursive;
      @media(max-width: 380px){
        display: none;
      }
      @media screen and (min-width: 381px) and (max-width: 989px ){
       display: none;
      }
  
  }
  .linkedin{
    box-shadow: 3px 3px 10px black;
    @media(max-width: 380px){
      width: 40px;
      height: 40px;
      margin: 0px 10px;
    }
    @media screen and (min-width: 381px) and (max-width: 989px ){
      width: 50px;
      height: 50px;
      margin: 10px 5px;
    }
  }
  .github{
    margin-right: 1%;
    box-shadow: 3px 4px 10px black;
    border-radius: 100%;
    @media(max-width: 380px){
      width: 40px;
      height: 40px;
      margin: 0px 10px;
    }
    @media screen and (min-width: 381px) and (max-width: 989px ){
      width: 50px;
      height: 50px;
      margin: 10px 5px;
    }
  }
  
  
  
  h1.title{
      display: flex;
      font-family: 'Comfortaa', cursive;
      word-wrap: normal;
      justify-content: center;
      align-items: center;
      font-size: 300%;
      text-shadow: 3px 3px 12px black;
      @media (max-width: 380px){
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 381px) and (max-width: 989px ){
         margin: 0px 10px;
        }
      }