@media(max-width: 490px ){
    h1.title{
      position: absolute;
      top: -75px;
    }
  }
  @media( max-width: 390px ){
    div.background{
  position: relative;
  right: 0;
    }
    div.text-container{
      width: auto;
      height: auto;
    }
    img.project-image{
      width:40vh;
    }
    a.download-link{
      top: 50px;
    }
    .contact-button{
      width: 370px !important;
    }
    .name-input{
      width: 370px !important;
    }
    .email-input{
      width: 370px !important;
    }
    .message-input{
      width: 370px !important;
    }
    form.contact-me{
      position: absolute;
      top: 28vh;
    }
  
  }
   @media (max-width: 990px){
    .navigation {
      display: none;
      height: 70px;
    }
    .mobile-navigation {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    div.mobile-navigation{
      height: 75px;
      background-color: gainsboro;
    }
    .social-icons{
      display:none;
    }
    .hamburger{
      position: absolute;
      right: 5%;
      top: 3%;
      cursor: pointer;
    }
      ul.navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 75px;
    }
    .navbar{
      top: 70px;
      background-color: gainsboro;
      opacity: .75;
    }
    nav li{
      border: 1px solid black;
      width: 100%;
      border-radius: 7px;
    }
    .text-container{
      width: auto;
      position: relative;
      top: 200px;
    }
    
    a.nav-link{
      height: 40px;
    }
    main.resume-container{
      display: none;
    }
    a.download-link{
      top: 19rem;
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      font-family: 'Comfortaa', cursive;
    }
   }
   @media (max-height: 820px){
    main.resume-content{
      height: 770px;
    }
   }
   @media( max-width: 480px){
    div.text-container{
      height:auto !important;
      width:auto !important;
    }
    h3{
      height: auto !important;
      width: auto !important;
    }
    p.about-me{
      height: auto !important;
      width: auto !important;
    }
   }
  
  