@import "bootstrap";

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Tenor Sans', sans-serif;
  }
  .nav-link {
    color: rgb(0, 0, 0) !important;
    font-family: 'Playfair Display' !important;
    text-decoration: none;
    font-size: 21px !important;
  }
  
  ul{
    list-style-type: none;
  }
  .fill-pills.nav{
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    margin-top: 0;
  }
  
  .aboutme{
    font-size: 17px;
      height: auto;
      width: 60vh;
      display: flex;
      flex-direction: column;
  
  }
  .nav-link:hover{
    color:white !important;
  }
  
  .background{
    background-image: url("./components/assets/background.png");
      background-position: 40%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 120vh;
      font-family: 'Montserrat', sans-serif;
  }
  .text-container{
    display: flex;
      justify-content: right;
      width: auto;
      height: 71vh;
      border: solid 2px;
      background: white;
      opacity: 0.85;
      border-radius: 15px;
      margin: 2%;
      padding: 2%;
  }
  .about-me-image{
    height: auto;
    width: 65vh;
    border-radius: 50px;
    border: solid 2px;
  }
  .page-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
  }
  
  .portfolio-text{
  font-size: 40px;
  display: flex;
  justify-content: center;
  }
  .portfolio-content{
    display: flex;
    flex-direction: column-reverse;
  }
  .portfolio-cards{
    margin-top: 3%;
  }
  
  .video{
    border-radius: 10px;
  }
  .nav-item:hover{
    background-color: #368ABF;
    border-radius: 15px;
  }
  .tech-image{
    width: 27vh;
    height: auto;
    border-radius: 10px;
  }
  .card{
    margin: 2%;
  }
  
  .contact-me{
    display: flex;
    flex-direction: column;
  }
  .message-input{
    width: 55vh;
  }
  .name-input{
    width: 55vh !important;
  }
  .email-input{
    width: 55vh !important;
  }
  .contact-button{
    width: 55vh;
  }
  
  .content{
    display:flex;
    justify-content: center;
    margin: 5%;
  }
  
  div.card{
    border-radius: 30px;
  }
  .nav-link.active{
    background-color:  #368ABF !important;
    color:white;
    border-radius: 15px;
  }
  .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  img.project-image{
    height: 36vh;
    width: 50vh;
  }
  .resume{
    margin-top: 2%;
  }
  .resume-container{
    display: flex;
    justify-content: center;
  }
  .resume-content{
    display: flex;
    flex-direction: column;
    margin: 3%;
  }
  a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(4, 4, 4);
    
}
li:hover{
  background-color: #368ABF;
  border-radius: 15px;
  padding: 7px;
}
a:hover{
  color:white;
}
.navbar{
  display: flex;
  justify-content: space-around;
}
.navbar-item{
padding-top: 1%;
}

.mobile-navigation{
  display: none;
}
 @media (max-width: 990px){
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .hamburger{
    position: absolute;
    right: 5%;
    top: 3%;
    cursor: pointer;
  }
    ul.navbar{
      display: flex;
      flex-direction: column;
      right: 0;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .navbar{
    top: 70px;
  }
  nav li{
    border: 1px solid black;
    width: 100%;
    border-radius: 7px;
  }
 }
